@font-face {
  font-family:'Graphit-Black';
  src:url(asset-path('fonts/Graphit-Black.woff')) format('woff'),
}

$my-font: "Graphit-Black";


@font-face {
  font-family:'Arsilon';
  src:url(asset-path('fonts/Arsilon.woff')) format('woff'),
}

$Arsilon:'Arsilon';


@font-face {
  font-family:'PlazaITC-Normal';
  src:url(asset-path('fonts/Plaza.woff')) format('woff'),
}

$numbers: "PlazaITC-Normal"
