body {
  background-color: #ECECEC;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit !important;
}

a:hover {
  text-decoration: none !important;
  color: inherit;
}

.page-name {
  position: fixed;
  top: 48px;
  width: 95%;
  text-align: right;
  font-family: 'Graphit-Black';
  font-size: 24px;
}

.pgc {color: black;}

.pgc1 {color: #f4e842;}

.pgc2 {color: #1e7467}

.pgc3 {color: #1271ad}

.pgc4 {color: #283256}

.pgc5 {color: #a9a9a9}

.project-info {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  font-weight: light;
  // margin-bottom: 160px;
}

.project-info-last {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  font-weight: light;
  margin-bottom: 20px;
}

.arrow {
  width: 6px;
  font-size: 8px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.project-info-last span {
  font-weight: light;
  font-style: normal;
}

.project-info span {
  font-weight: light;
  font-style: normal;
}

.mgn2 {
  margin-bottom: 60px;
}
