.bloc {
  width: 100%;
  height: 55vh;
  margin-top: 220px;
  margin-bottom: 10px;
}


@media only screen and (max-width: 800px) {
  .bloc {
    height: 45vh !important;
  }
}


@media only screen and (max-width: 600px) {
  .bloc {
    height: 35vh !important;
    margin-top: 260px !important;
  }
}
