#video {
  width: 100%;
  height: 55vh;
  margin-top: 180px;
  margin-bottom: 10px;
}

#video2 {
  height: 70vh;
}

@media only screen and (max-width: 600px) {
  .bloc{
    display: block;
    width: 80% !important;
    height: 24vh !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px !important;
  }
}
