iframe {
  display: block;
  width: 70%;
  height: 70vh;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#fbTopBar{
  display: none;
}

.adsbygoogle {
  display: none !important;
}

#logoBar > img{
  display: none !important;
}

// @media only screen and (max-width: 600px) {
//   // iframe {
//   //   height: 40vh !important;
//   //   margin-top: 30% !important;
//   //   width: 70%;
//   // }
// }
