// * {box-sizing: border-box;}
.design-container {
  margin-bottom: 60px;
}

.slideshow-container6 {
  width: 54%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.slideshow-container7 {
  width: 54%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  position: relative;
}

.mySlides6 img {
  width: 54%;
  height: 83vh;
  margin-top: 8px;
  object-fit: contain;
}

.mySlides7 img {
  width: 54%;
  height: 83vh;
  margin-top: 8px;
  object-fit: contain;
}

.fade6 {
  animation-name: fade;
  animation-duration: 3s;
}

.fade7 {
  animation-name: fade;
  animation-duration: 3s;
}

.img-comp-container {
  position: relative;
  height: 55vh; /*should be the same height as the images*/
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  margin-bottom: 20px;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
  width: 640px;
  height: 55vh;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 20px;
  height: 100%;
  opacity: 0.7;
  border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
  .img-comp-container {
    height: 55vh; /*should be the same height as the images*/
    width: 530px;
  }

  .img-comp-img img {
    height: 55vh;
    width: 530px;
  }
}

@media only screen and (max-width: 900px) {
  .img-comp-container {
    height: 45vh; /*should be the same height as the images*/
    width: 440px;
  }

  .img-comp-img img {
    height: 45vh;
    width: 440px;
  }
}

@media only screen and (max-width: 800px) {
  .prev2, .next2 {
      top: 45%;
    }

  .img-comp-container {
    height: 50vh; /*should be the same height as the images*/
    width: 500px;
  }

  .img-comp-img img {
    height: 50vh;
    width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .slideshow-container7 {
    height: 60vh;
    width: 80%;
  }

  .slideshow-container6 {
    height: 60vh;
    width: 80%;
  }

  .design-container .arrow {
    margin-top: 0px;
  }

  .img-comp-container {
    height: 37vh; /*should be the same height as the images*/
    width: 350px;
  }

  .img-comp-img img {
    height: 37vh;
    width: 350px;
  }

  .prev2, .next2 {
    top: 60%;
  }
}
