.famille {
  width: 55%;
  height: 95vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
}

.boucau {
  width: 40%;
  height: 80vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.tableau {
  width: 35%;
  height: 85vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 40px;
}
