// * {box-sizing:border-box}
.graphisme-container {
  margin-top: 130px;
}
/* Slideshow container */
.slideshow-container {
  width: 60%;
  // height: 80vh;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -55px;
  margin-bottom: 10px;
}

.slideshow-container2 {
  width: 60%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  position: relative;
}

.slideshow-container3 {
  width: 60%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  position: relative;
}

/* Hide the images by default */
.mySlides img {
  width: 60%;
  height: 83vh;
  margin-top: 8px;
  object-fit: contain;
}

.mySlides2 img {
  width: 60%;
  height: 83vh;
  margin-top: 8px;
  object-fit: contain;
}

.mySlides3 img {
  width: 60%;
  height: 83vh;
  margin-top: 8px;
  object-fit: contain;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 100s;
}

.fade2 {
  animation-name: fade;
  animation-duration: 1s;
}

.fade3 {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

/* Next & previous buttons */
.prev, .next {
  cursor: w-resize;
  position: absolute;
  opacity: 0;
  top: 0;
  height: 100%;
  width: 50%;
  padding: 16px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  cursor: e-resize;
}



.try-dat {
  font-family: Roboto;
  // font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .slideshow-container {
    width: 80%;
    height: 68vh;
    margin-top: 120px;
    margin-bottom: 0px;
  }

  .slideshow-container2 {
    margin-bottom: 0px;
    height: 68vh;
    width: 80%;
  }

  .slideshow-container3 {
    margin-bottom: 0px;
    height: 68vh;
    width: 80%;
  }

  .graphisme-container {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 800px) {
  .prev, .next {
    top: 50%;
    opacity: 0.4;
    height: 20%;
    // background-color: red;
    text-align: center;
    width: 25%;
    z-index: 100;
    font-size: 24px;
  }

  /* Position the "next button" to the right */
  .next {
    right: -18%;
    // cursor: pointer;
  }

  .prev2, .next2 {
    top: 35%;
  }

  .prev {
    left: -18%;
  }
}
