.main-info {
  width: 70%;
  position: absolute;
  right: 4%;
  top: 48px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Graphit-Black';
}

.main-info p {
  opacity: 0.4;
}

.skill-container {
  font-family: $numbers;
  margin-top: 4%;
  height: 74vh;
  margin-left: 79px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // max-width: 100%;
}

.skill-container li{
  font-size: 20px;
  margin-bottom: 12px;
  color: #7A7D7D;
}

.skill-cat {
  margin-left: 145px;
  font-size: 52px;
  letter-spacing: 3px;
  color: black;
  position: relative;
  font-family: $my-font;
}

.skill-container li::after{
  content: "";
  display: block;
  height: 1px;
  position: relative;
  top: -1.2rem;
  background: rgb(192,192,192);
  padding: 0px 25%;
  margin-left: -50%;
  z-index: -1;
  opacity: 0.5
}

span::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 14px;
  top: 50%;
  margin-top: -0.5px;
  background: #FF334C;
}

span::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 14px;
  top: 50%;
  margin-top: -0.5px;
  background: #FF334C;
}


.skill-cat::after {
  position: absolute;
  content: '';
  top:50%;
  left: 0;
  // margin-left:10px;
  width: 0;
  height: 10%;
  background-color: #f4e842;
  transform-origin:left;
  transition: width 0.75s ease;
  z-index:10000;
}

.skill-cat:hover::after {
  width: 100%;
}

.try2::after {
  background-color: #f4e842;
}

.try2::after {
  background-color: #1e7467;
}

.try3::after {
  background-color: #1271ad;
}

.try4::after {
  background-color: #283256;
}

.try5::after {
  background-color: #a9a9a9;
}

.page-name {
  position: fixed;
  top: 48px;
  width: 95%;
  text-align: right;
  font-family: 'Graphit-Black';
  font-size: 24px;
}

@media only screen and (max-width: 700px) {

  .slideshow-container {
    margin-top: 155px;
  }
}


@media only screen and (max-width: 600px) {
  .skill-cat {
    margin-left: 20px;
    font-size: 46px;
  }

  .logo2 img{
    left: 20px;
    width: 100px;
    height: 100px;
  }

  .main-info {
    display: block;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 150px;
  }

  .main-info h2 {
    position: relative;
    // top: 48px;
    // width: 95%;
    text-align: right;
    font-family: 'Graphit-Black';
    font-size: 24px;
  }

  .skill-container li{
    font-size: 18px;
  }

  ul > :first-child {
    color: #f4e842;
  }

  ul > :nth-child(2) {
    color: #1e7467;
  }

  ul > :nth-child(3) {
    color: #1271ad;
  }

  ul > :nth-child(4) {
    color: #283256;
  }

  ul > :nth-child(5) {
    color: #a9a9a9;
  }

  .skill-container {
    margin-left: -10px;
  }

  .main-info p {
    display: none;
  }

    body > div.graphisme-container > div.project-info.diff.last {
    // margin-top: 10vh;
  }

  .project-info {
    margin-top: 13vh;
  }
}

@media only screen and (max-width: 400px) {
  .skill-cat{
    font-size: 30px;
  }

  .skill-container li::after{
    top: -0.8rem;
  }
  .main-info h2 {
    font-size: 18px;
  }

  .diff {
    margin-top: 10vh;
  }

  body > div.graphisme-container > div.project-info.diff.last {
    margin-top: 8vh;
  }

  .project-info {
    margin-top: 10vh;
  }

  body > div.troisd-container > div.slideshow-container5 > div.project-info.fix {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 290px) {
  .project-info {
    display: block;
    text-align: center;
    margin-top: 4vh;
  }

  .skill-cat {
    font-size: 25px;
  }

  .skill-container li::after {
    top: -0.6rem;
  }
}
