.slideshow-container4 {
  position: relative;
  width: 60%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.mySlides4 img {
  width: 100%;
  height: 80vh;
  margin-top: 8px;
  object-fit: contain;
}

.slideshow-container4 video {
  width: 100%;
  object-fit: contain;
}

.slideshow-container5 {
  position: relative;
  width: 60%;
  height: 85vh;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.slideshow-container5 video {
  width: 100%;
  height: 83vh;
  object-fit: contain;
}

.mySlides5 img {
  width: 60%;
  height: 83vh;
  margin-top: 8px;
  object-fit: contain;
}

.fade4 {
  animation-name: fade;
  animation-duration: 3s;
}

.fade5 {
  animation-name: fade;
  animation-duration: 3s;
}

.undervideo {
  margin-bottom: 80px !important;
}



@media only screen and (max-width: 600px) {
  .slideshow-container4 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
  }

  .mySlides4 img {
    width: 100%;
    height: 40vh;
    margin-top: 0px;
    object-fit: contain;
  }

  .slideshow-container4 video {
    width: 100%;
    height: 40vh;
    object-fit: contain;
  }

  #video {
    width: 100%;
    height: 40vh;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .undervideo {
    margin-bottom: 0px !important;
  }

  .project-info {
    position: relative;
    // line-height: 2px;
    bottom: -60px;
  }

  .hide {
    opacity: 0;
    margin-top: -40px;
  }

  .jump{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .arrow {
    margin-top: 40px;
  }
}
