.troisd-container {
  margin-bottom: 40px;
}

.slideshow-container4 {
  position: relative;
  width: 60%;
  height: 60vh;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.slideshow-container4 > .project-info {
  margin-top: 20px;
}

.slideshow-container4 > .arrow {
  margin-top: 40px
}

.mySlides4 img {
  width: 100%;
  height: 60vh;
  object-fit: contain;
}

.slideshow-container4 video {
  width: 100%;
  height: 60vh;
  object-fit: contain;
}

.slideshow-container5 {
  position: relative;
  width: 60%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
}

.mySlides5 img {
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.slideshow-container5 video {
  width: 100%;
  height: 80vh;
  object-fit: contain;
}


.fade4 {
  animation-name: fade;
  animation-duration: 3s;
}

.fade5 {
  animation-name: fade;
  animation-duration: 3s;
}

@media only screen and (max-width: 800px) {
  .prev3, .next3 {
    top: 40%;
  }

  .prev5, .next5 {
    top: 40%;
  }
}

@media only screen and (max-width: 682px) {
  .hide {
    opacity: 0;
    margin-top: -40px;
  }

  .slideshow-container4 > .project-info {
    position: relative;
    top: -40px;
    display: block;
    text-align: center
  }

  .slideshow-container4 > .arrow {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 600px) {
  #video3 {
    width: 100%;
    height: 40vh;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .undervideo {
    margin-bottom: 0px !important;
  }

  .prev3, .next3 {
    top: 35%;
  }

  .jump{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
