<div style="max-width: px">
<video id="doc-player"  controls  muted  class="cld-video-player cld-fluid"></video>
</div>


<script>
var cld = cloudinary.Cloudinary.new({ cloud_name: 'demo' });
var demoplayer = cld.videoPlayer('doc-player').width(600);
demoplayer.source('https://res.cloudinary.com/dgpkng6h9/video/upload/v1587148610/Polo/Skate_md1lrk.mp4')
</script>
