<div class="page-name pgc3">animation</div>
<%= link_to root_path, class: "logo" do %>
<img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587472870/Polo/logotest_hzr8br.png" alt="logo">
<% end %>
<video id="video" class="bloc" loop muted autoplay playsinline>
  <source src="https://res.cloudinary.com/dgpkng6h9/video/upload/v1587148610/Polo/Skate.mp4" type="video/mp4">
</video>
<div class="project-info">
    <p class="title-project">Skater bibliophile</p>
    <p class="project-type"> - Illustration numérique & animation</p>
</div>

<script>
  video = jQuery('#video').get()[0];

  video.addEventListener('loadeddata', function() {
      video.play();
  });

  video.addEventListener('pause', function() {
      video.play();
  });
</script>
