
<div class="page-name pgc5">architecture</div>
<%= link_to root_path, class: "logo" do %>
<img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587472870/Polo/logotest_hzr8br.png" alt="logo">
<% end %>

<iframe  src="https://online.fliphtml5.com/nxnvr/qbdm/"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>


