
<div class="page-name pgc5">architecture</div>
<%= link_to root_path, class: "logo" do %>
<img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587472870/Polo/logotest_hzr8br.png" alt="logo">
<% end %>


<iframe src="portfolio_2020.pdf" class="letssy" frameborder="0"></iframe>

<style>
  iframe {
    margin-top: 200px;
    width: 50%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
  }
</style>
