
<div class="page-name pgc5">architecture</div>
<%= link_to root_path, class: "logo" do %>
<img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207221/LPA/logotest_hzr8br_nqdui8.png" alt="logo">
<% end %>

<iframe  src="https://online.fliphtml5.com/gqqin/fega/?fbclid=IwAR3MHnlM645ejLgeig4qbh_lXeu2oncVDb13FJ5I_j6X1vnlQnEJqt1pfAE#p=1"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>

<p class="cpt">Copyright © LPA</p>

