
  <div class="page-name pgc1">graphisme</div>
  <%= link_to root_path, class: "logo" do %>
  <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587472870/Polo/logotest_hzr8br.png" alt="logo">
  <% end %>
  <div class="graphisme-container">
  <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587223892/Polo/Famille_Armand-01_zmjkzn.png" style="width:100%; height:80vh">
    </div>
    <div class="mySlides fade">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587228623/Polo/goodone_nceagc.jpg" style="width:100%; height:80vh">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <div class="project-info diff">
    <p class="title-project">Portrait de famille</p>
    <p class="project-type"> - Illustration numérique</p>
  </div>
  <div class="arrow bounce ">
    <i class="fas fa-arrow-down arrow"></i>
  </div>
  <!-- onclick="plusSlides2(1)" -->
  <div class="slideshow-container2">
    <div class="mySlides2 fade2">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587224008/Polo/Boucau-01_kafeam.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides2 fade2">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587313698/Polo/Boucau_2_cqjdtm.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides2 fade2">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587224062/Polo/Boucau_mockup-03_qbrmns.jpg" style="width:100%; height:80vh">
    </div>
    <a class="prev" onclick="plusSlides2(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides2(1)">&#10095;</a>
  </div>
  <div class="project-info diff">
    <p class="title-project">Boucau</p>
    <p class="project-type"> - Illustration numérique, 40x50cm</p>
  </div>
  <!-- <div class="project-info">Boucau -<span> Illustration numérique, 40x50cm</span></div> -->
  <div class="arrow bounce ">
    <i class="fas fa-arrow-down arrow"></i>
  </div>
  <!-- onclick="plusSlides3(1)" -->
  <div class="slideshow-container3" >
    <div class="mySlides3 fade3">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1588338523/Polo/Fine-S_Affiche_1_qk2ehj.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides3 fade3">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1588338516/Polo/Fine-S_Affiche_2_eayf05.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides3 fade3">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1588338557/Polo/Fine-S_Affiche_3_bmwwe2.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides3 fade3">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1588338556/Polo/Fine-S_Affiche_4_lpdkva.jpg" style="width:100%; height:80vh">
    </div>
    <a class="prev" onclick="plusSlides3(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides3(1)">&#10095;</a>
  </div>
  <div class="project-info diff last">
    <p class="title-project">Affiches publicitaires</p>
    <p class="project-type"> - Illustration numérique, A4</p>
  </div>
</div>
<p class="cpt">Copyright © LPA</p>

<script>
var slideIndex = 1;
var timer = null;
showSlides(slideIndex);
var slideIndex2 = 1;
var timer2 = null;
showSlides2(slideIndex2);
var slideIndex3 = 1;
var timer3 = null;
showSlides3(slideIndex3);
//1ST SLIDESHOW
function plusSlides(n) {
clearTimeout(timer);
showSlides(slideIndex += n);
}
function currentSlide(n) {
clearTimeout(timer);
showSlides(slideIndex = n);
}
function showSlides(n) {
var i;
var slides = document.getElementsByClassName("mySlides");
if (n==undefined){n = ++slideIndex}
if (n > slides.length) {slideIndex = 1}
if (n < 1) {slideIndex = slides.length}
for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
slides[slideIndex-1].style.display = "block";
timer = setTimeout(showSlides, 200000000);
}
//2ND SLIDESHOW
function plusSlides2(n) {
clearTimeout(timer2);
showSlides2(slideIndex2 += n);
}
function currentSlide2(n) {
clearTimeout(timer2);
showSlides(slideIndex2 = n);
}
function showSlides2(n) {
var i;
var slides = document.getElementsByClassName("mySlides2");
if (n==undefined){n = ++slideIndex2}
if (n > slides.length) {slideIndex2 = 1}
if (n < 1) {slideIndex2 = slides.length}
for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
slides[slideIndex2-1].style.display = "block";
timer2 = setTimeout(showSlides2, 10000000);
}
//3RD SLIDESHOW
function plusSlides3(n) {
clearTimeout(timer3);
showSlides3(slideIndex3 += n);
}
function currentSlide3(n) {
clearTimeout(timer3);
showSlides(slideIndex3 = n);
}
function showSlides3(n) {
var i;
var slides = document.getElementsByClassName("mySlides3");
if (n==undefined){n = ++slideIndex3}
if (n > slides.length) {slideIndex3 = 1}
if (n < 1) {slideIndex3 = slides.length}
for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
slides[slideIndex3-1].style.display = "block";
timer3 = setTimeout(showSlides3, 10000000);
}
</script>
