<div class="graphisme-container">
<div class="page-name pgc1">graphisme</div>
<%= link_to root_path, class: "logo" do %>
<img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587472870/Polo/logotest_hzr8br.png" alt="logo">
<% end %>
<!-- <div class="slideshow-container" onclick="plusSlides(1)"> -->
<!-- <div class="slide-text"> -->

<div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587223892/Polo/Famille_Armand-01_zmjkzn.png" style="width:100%; height:80vh">
  </div>
  <div class="mySlides fade">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587228623/Polo/goodone_nceagc.jpg" style="width:100%; height:80vh">
  </div>
  <a class="prev" onclick="plusSlides(-1)"></a>
  <a class="next" onclick="plusSlides(1)"></a>
</div>
<div class="project-info">Portrait de famille -<span> Illustration numérique</span></div>
<!-- </div> -->
<!-- onclick="plusSlides2(1)" -->
<div class="slideshow-container2">
  <div class="mySlides2 fade2">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587224008/Polo/Boucau-01_kafeam.jpg" style="width:100%; height:80vh">
  </div>
  <div class="mySlides2 fade2">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587313698/Polo/Boucau_2_cqjdtm.jpg" style="width:100%; height:80vh">
  </div>
  <div class="mySlides2 fade2">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587224062/Polo/Boucau_mockup-03_qbrmns.jpg" style="width:100%; height:80vh">
  </div>
  <a class="prev" onclick="plusSlides2(-1)"></a>
  <a class="next" onclick="plusSlides2(1)"></a>
</div>
<div class="project-info">Boucau -<span> Illustration numérique, 40x50cm</span></div>
<!-- onclick="plusSlides3(1)" -->
<div class="slideshow-container3" >
  <div class="mySlides3 fade3">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587223958/Polo/Tableau-01_rrtkqp.jpg" style="width:100%; height:80vh">
  </div>
  <div class="mySlides3 fade3">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587223960/Polo/Tableau_de%CC%81tail-02_wmamuv.jpg" style="width:100%; height:80vh">
  </div>
  <div class="mySlides3 fade3">
    <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587223997/Polo/Tableau_mockup-03_tzghp6.jpg" style="width:100%; height:80vh">
  </div>
  <a class="prev" onclick="plusSlides3(-1)"></a>
  <a class="next" onclick="plusSlides3(1)"></a>
</div>
<div class="project-info-last">Bateaux -<span> Illustration numérique, 40x50cm</span></div>
</div>

<script>
var slideIndex = 1;
var timer = null;
showSlides(slideIndex);

var slideIndex2 = 1;
var timer2 = null;
showSlides2(slideIndex2);

var slideIndex3 = 1;
var timer3 = null;
showSlides3(slideIndex3);

//1ST SLIDESHOW
function plusSlides(n) {
  clearTimeout(timer);
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  clearTimeout(timer);
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");

  if (n==undefined){n = ++slideIndex}
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "block";
  timer = setTimeout(showSlides, 200000000);
}

//2ND SLIDESHOW
function plusSlides2(n) {
  clearTimeout(timer2);
  showSlides2(slideIndex2 += n);
}

function currentSlide2(n) {
  clearTimeout(timer2);
  showSlides(slideIndex2 = n);
}

function showSlides2(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides2");

  if (n==undefined){n = ++slideIndex2}
  if (n > slides.length) {slideIndex2 = 1}
  if (n < 1) {slideIndex2 = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex2-1].style.display = "block";
  timer2 = setTimeout(showSlides2, 10000000);
}

//3RD SLIDESHOW
function plusSlides3(n) {
  clearTimeout(timer3);
  showSlides3(slideIndex3 += n);
}

function currentSlide3(n) {
  clearTimeout(timer3);
  showSlides(slideIndex3 = n);
}

function showSlides3(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides3");

  if (n==undefined){n = ++slideIndex3}
  if (n > slides.length) {slideIndex3 = 1}
  if (n < 1) {slideIndex3 = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex3-1].style.display = "block";
  timer3 = setTimeout(showSlides3, 10000000);
}
// https://www.w3schools.com/howto/howto_js_slideshow.asp
</script>
