  <div class="page-name pgc1">graphisme</div>
  <%= link_to root_path, class: "logo" do %>
  <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207221/LPA/logotest_hzr8br_nqdui8.png" alt="logo">
  <% end %>
  <div class="graphisme-container">
    <div class="slideshow-container2">
    <div class="mySlides2 fade2">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207233/LPA/Boucau-01_kafeam_djwt9w.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides2 fade2">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207234/LPA/Boucau_2_cqjdtm_qz2rum.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides2 fade2">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207233/LPA/Boucau_mockup-03_qbrmns_bjxwo2.jpg" style="width:100%; height:80vh">
    </div>
    <a class="prev" onclick="plusSlides2(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides2(1)">&#10095;</a>
  </div>
  <div class="project-info diff">
    <p class="title-project">Boucau</p>
    <p class="project-type"> - Illustration numérique, 40x50cm</p>
  </div>
  <!-- <div class="project-info">Boucau -<span> Illustration numérique, 40x50cm</span></div> -->
  <div class="arrow bounce ">
    <i class="fas fa-arrow-down arrow"></i>
  </div>


  <div class="slideshow-container9">
    <div class="mySlides9 fade9">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207231/LPA/Villa_Mamette_1_hmnnvq_gajtco.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides9 fade9">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207231/LPA/Villa_Mamette_2_y4clpt_h5vax6.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides9 fade9">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207231/LPA/Mamette-Mockup_3_yvxqsm_nd1hrq.jpg" style="width:100%; height:80vh">
    </div>
    <a class="prev" onclick="plusSlides9(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides9(1)">&#10095;</a>
  </div>
  <div class="project-info diff">
    <p class="title-project">Villa Mamette</p>
    <p class="project-type"> - Illustration numérique, 40x30cm</p>
  </div>
  <!-- <div class="project-info">Boucau -<span> Illustration numérique, 40x50cm</span></div> -->
  <div class="arrow bounce ">
    <i class="fas fa-arrow-down arrow"></i>
  </div>



  <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207229/LPA/Bie%CC%80re-2_uoywnb_bgkwim.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides fade">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207230/LPA/Bie%CC%80re-3_ejkw0x_oq5wdg.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides fade">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207228/LPA/Bie%CC%80re-1_whv7es_bmccp5.jpg" style="width:100%; height:80vh">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <div class="project-info diff">
    <p class="title-project">Bière "Leo Pale"</p>

    <p class="project-type"> - Illustration numérique</p>
  </div>
  <div class="arrow bounce ">
    <i class="fas fa-arrow-down arrow"></i>
  </div>
  <!-- onclick="plusSlides2(1)" -->

  <!-- onclick="plusSlides3(1)" -->
  <div class="slideshow-container3" >
    <div class="mySlides3 fade3">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207234/LPA/Fine-S_Affiche_1_qk2ehj_tlain8.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides3 fade3">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207221/LPA/Fine-S_Affiche_2_eayf05_e7qwvp.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides3 fade3">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207222/LPA/Fine-S_Affiche_3_bmwwe2_vlbz41.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides3 fade3">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207220/LPA/Fine-S_Affiche_4_lpdkva_hzdxoz.jpg" style="width:100%; height:80vh">
    </div>
    <a class="prev" onclick="plusSlides3(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides3(1)">&#10095;</a>
  </div>
  <div class="project-info diff">
    <p class="title-project">Affiches publicitaires</p>
    <p class="project-type"> - Illustration numérique, A4</p>
  </div>
  <div class="arrow bounce ">
    <i class="fas fa-arrow-down arrow"></i>
  </div>

  <div class="slideshow-container8" >
    <div class="mySlides8 fade8">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207234/LPA/Famille_Armand-01_zmjkzn_j63fx4.png" style="width:100%; height:80vh">
    </div>
    <div class="mySlides8 fade8">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207220/LPA/goodone_nceagc_qukvhj.jpg" style="width:100%; height:80vh">
    </div>
  <!--   <div class="mySlides8 fade8">
      <img src="" style="width:100%; height:80vh">
    </div> -->
    <a class="prev" onclick="plusSlides8(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides8(1)">&#10095;</a>
  </div>
  <div class="project-info diff last">
    <p class="title-project">Portrait de famille</p>
    <p class="project-type"> - Illustration numérique</p>
  </div>
</div>
<p class="cpt">Copyright © LPA</p>
<script>
var slideIndex = 1;
var timer = null;
showSlides(slideIndex);
var slideIndex2 = 1;
var timer2 = null;
showSlides2(slideIndex2);
var slideIndex3 = 1;
var timer3 = null;
showSlides3(slideIndex3);

var slideIndex9 = 1;
var timer9 = null;
showSlides9(slideIndex9);

var slideIndex8 = 1;
var timer8 = null;
showSlides8(slideIndex8);


//1ST SLIDESHOW
function plusSlides(n) {
clearTimeout(timer);
showSlides(slideIndex += n);
}
function currentSlide(n) {
clearTimeout(timer);
showSlides(slideIndex = n);
}
function showSlides(n) {
var i;
var slides = document.getElementsByClassName("mySlides");
if (n==undefined){n = ++slideIndex}
if (n > slides.length) {slideIndex = 1}
if (n < 1) {slideIndex = slides.length}
for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
slides[slideIndex-1].style.display = "block";
timer = setTimeout(showSlides, 200000000);
}
//2ND SLIDESHOW
function plusSlides2(n) {
clearTimeout(timer2);
showSlides2(slideIndex2 += n);
}
function currentSlide2(n) {
clearTimeout(timer2);
showSlides(slideIndex2 = n);
}
function showSlides2(n) {
var i;
var slides = document.getElementsByClassName("mySlides2");
if (n==undefined){n = ++slideIndex2}
if (n > slides.length) {slideIndex2 = 1}
if (n < 1) {slideIndex2 = slides.length}
for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
slides[slideIndex2-1].style.display = "block";
timer2 = setTimeout(showSlides2, 10000000);
}
//3RD SLIDESHOW
function plusSlides3(n) {
clearTimeout(timer3);
showSlides3(slideIndex3 += n);
}
function currentSlide3(n) {
clearTimeout(timer3);
showSlides(slideIndex3 = n);
}
function showSlides3(n) {
var i;
var slides = document.getElementsByClassName("mySlides3");
if (n==undefined){n = ++slideIndex3}
if (n > slides.length) {slideIndex3 = 1}
if (n < 1) {slideIndex3 = slides.length}
for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
slides[slideIndex3-1].style.display = "block";
timer3 = setTimeout(showSlides3, 10000000);
}


function plusSlides9(n) {
clearTimeout(timer9);
showSlides9(slideIndex9 += n);
}
function currentSlide9(n) {
clearTimeout(timer9);
showSlides(slideIndex9 = n);
}
function showSlides9(n) {
var i;
var slides = document.getElementsByClassName("mySlides9");
if (n==undefined){n = ++slideIndex9}
if (n > slides.length) {slideIndex9 = 1}
if (n < 1) {slideIndex9 = slides.length}
for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
slides[slideIndex9-1].style.display = "block";
timer9 = setTimeout(showSlides9, 10000000);
}


function plusSlides8(n) {
clearTimeout(timer8);
showSlides8(slideIndex8 += n);
}
function currentSlide8(n) {
clearTimeout(timer8);
showSlides(slideIndex8 = n);
}
function showSlides8(n) {
var i;
var slides = document.getElementsByClassName("mySlides8");
if (n==undefined){n = ++slideIndex8}
if (n > slides.length) {slideIndex8 = 1}
if (n < 1) {slideIndex8 = slides.length}
for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
slides[slideIndex8-1].style.display = "block";
timer8 = setTimeout(showSlides8, 10000000);
}




</script>
