<div class="page-name pgc2">3D</div>
<%= link_to root_path, class: "logo" do %>
<img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587472870/Polo/logotest_hzr8br.png" alt="logo">
<% end %>
<div class="troisd-container">
  <div class="slideshow-container4">
    <div class="mySlides4 fade4">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587319210/Polo/1_Rolly_mq8jxt.jpg" style="width:100%; height:80vh">
    </div>
    <video id="video" class="mySlides4 fade4 undervideo" loop muted>
      <source src="https://res.cloudinary.com/dgpkng6h9/video/upload/v1587485543/Polo/Animation_Rolly_zkscm8.mp4" type="video/mp4">
    </video>
    <div class="mySlides4 fade4">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587319237/Polo/3_Rolly_yv6kdd.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides4 fade4">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587319469/Polo/5_Rolly_ectzdm.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides4 fade4">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587571832/Polo/4_Rolly_wyi1rh.jpg" style="width:100%; height:80vh">
    </div>
    <a class="prev" onclick="plusSlides4(-1)"></a>
    <a class="next" onclick="plusSlides4(1)"></a>
  </div>
  <div class="project-info">
    <p class="title-project">Rolly</p>
    <p class="project-type"> - Modèle et impression 3D / Photographies Ted Kayumba-Kasongo</p>
  </div>

  <div class="arrow bounce">
    <i class="fas fa-arrow-down arrow"></i>
  </div>
  <div class="slideshow-container5" >
    <div class="mySlides5 fade5">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587475228/Polo/1Metz_tlyrhc.jpg" style="width:100%; height:80vh">
    </div>
    <div class="mySlides5 fade5">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587470419/Polo/Sche%CC%81ma_5_wrslru.jpg" style="width:100%; height:80vh">
    </div>
    <video id="video2" class="mySlides5 fade5" loop muted>
      <source src="https://res.cloudinary.com/dgpkng6h9/video/upload/v1587316903/Polo/Metz_gpqjfw.mp4" type="video/mp4">
    </video>
    <a class="prev" onclick="plusSlides5(-1)"></a>
    <a class="next" onclick="plusSlides5(1)"></a>
  </div>
  <div class="project-info">
    <p class="title-project">Projet de fin d'études,</p>
    <p class="project-type"> caserne Desvallières de Metz</p>
  </div>
</div>

<script>
//4RD SLIDESHOW

var slideIndex4 = 1;
var timer4 = null;
showSlides4(slideIndex4);

function plusSlides4(n) {
  clearTimeout(timer4);
  showSlides4(slideIndex4 += n);
}

function currentSlide4(n) {
  clearTimeout(timer4);
  showSlides(slideIndex4 = n);
}

function showSlides4(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides4");

  if (n==undefined){n = ++slideIndex4}
  if (n > slides.length) {slideIndex4 = 1}
  if (n < 1) {slideIndex4 = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex4-1].style.display = "block";
  timer4 = setTimeout(showSlides4, 6000000);
}



//5RD SLIDESHOW

var slideIndex5 = 1;
var timer5 = null;
showSlides5(slideIndex5);

function plusSlides5(n) {
  clearTimeout(timer5);
  showSlides5(slideIndex5 += n);
}

function currentSlide5(n) {
  clearTimeout(timer5);
  showSlides(slideIndex5 = n);
}

function showSlides5(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides5");

  if (n==undefined){n = ++slideIndex5}
  if (n > slides.length) {slideIndex5 = 1}
  if (n < 1) {slideIndex5 = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex5-1].style.display = "block";
  timer5 = setTimeout(showSlides5, 6000000);
}

video = jQuery('#video').get()[0];

video.addEventListener('loadeddata', function() {
      video.play();
});

video.addEventListener('pause', function() {
    video.play();
});

video2 = jQuery('#video2').get()[0];

video2.addEventListener('loadeddata', function() {
      video2.play();
});

video2.addEventListener('pause', function() {
    video2.play();
});

</script>
