<div class="page-name pgc2">3D</div>
<%= link_to root_path, class: "logo" do %>
<img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587472870/Polo/logotest_hzr8br.png" alt="logo">
<% end %>
<div class="troisd-container">
  <div class="slideshow-container4">
    <div class="mySlides4 fade4">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587319210/Polo/1_Rolly_mq8jxt.jpg">
    </div>
    <video id="video4" class="mySlides4 fade4" loop muted autoplay playsinline>
      <source src="https://res.cloudinary.com/dgpkng6h9/video/upload/v1587485543/Polo/Animation_Rolly_zkscm8.mp4" type="video/mp4">
    </video>
    <div class="mySlides4 fade4">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587319237/Polo/3_Rolly_yv6kdd.jpg">
    </div>
    <div class="mySlides4 fade4">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587319469/Polo/5_Rolly_ectzdm.jpg">
    </div>
    <div class="mySlides4 fade4">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587571832/Polo/4_Rolly_wyi1rh.jpg">
    </div>
    <a class="prev prev5" onclick="plusSlides4(-1)">&#10094;</a>
    <a class="next next5" onclick="plusSlides4(1)">&#10095;</a>
    <div class="project-info">
      <p class="title-project">Rolly</p>
      <p class="project-type"> <p class="hide">-</p>Modèle et impression 3D / Photographies Ted Kayumba-Kasongo</p>
    </div>
    <div class="arrow bounce">
      <i class="fas fa-arrow-down arrow"></i>
    </div>
  </div>
  <div class="slideshow-container5" >
    <div class="mySlides5 fade5">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587475228/Polo/1Metz_tlyrhc.jpg">
    </div>
    <div class="mySlides5 fade5">
      <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1587470419/Polo/Sche%CC%81ma_5_wrslru.jpg">
    </div>
    <video id="video3" class="mySlides5 fade5" loop muted autoplay playsinline>
      <source src="https://res.cloudinary.com/dgpkng6h9/video/upload/v1587316903/Polo/Metz_gpqjfw.mp4" type="video/mp4">
    </video>
    <a class="prev prev3" onclick="plusSlides5(-1)">&#10094;</a>
    <a class="next next3" onclick="plusSlides5(1)">&#10095;</a>
    <div class="project-info">
      <p class="title-project">Projet de fin d'études,</p>
      <p class="project-type"> caserne Desvallières de Metz</p>
    </div>
  </div>
</div>
<p class="cpt">Copyright © LPA</p>

<script>
//4RD SLIDESHOW

var slideIndex4 = 1;
var timer4 = null;
showSlides4(slideIndex4);

function plusSlides4(n) {
  clearTimeout(timer4);
  showSlides4(slideIndex4 += n);
}

function currentSlide4(n) {
  clearTimeout(timer4);
  showSlides(slideIndex4 = n);
}

function showSlides4(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides4");

  if (n==undefined){n = ++slideIndex4}
  if (n > slides.length) {slideIndex4 = 1}
  if (n < 1) {slideIndex4 = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex4-1].style.display = "block";
  timer4 = setTimeout(showSlides4, 6000000);
}



//5RD SLIDESHOW

var slideIndex5 = 1;
var timer5 = null;
showSlides5(slideIndex5);

function plusSlides5(n) {
  clearTimeout(timer5);
  showSlides5(slideIndex5 += n);
}

function currentSlide5(n) {
  clearTimeout(timer5);
  showSlides(slideIndex5 = n);
}

function showSlides5(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides5");

  if (n==undefined){n = ++slideIndex5}
  if (n > slides.length) {slideIndex5 = 1}
  if (n < 1) {slideIndex5 = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex5-1].style.display = "block";
  timer5 = setTimeout(showSlides5, 6000000);
}

video4 = jQuery('#video4').get()[0];

video4.addEventListener('loadeddata', function() {
      video4.play();
});

video4.addEventListener('pause', function() {
    video4.play();
});

video3 = jQuery('#video3').get()[0];

video3.addEventListener('loadeddata', function() {
      video3.play();
});

video3.addEventListener('pause', function() {
    video3.play();
});

</script>
