<div class="page-name pgc2">3D</div>
<%= link_to root_path, class: "logo" do %>
<img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207221/LPA/logotest_hzr8br_nqdui8.png" alt="logo">
<% end %>
<div class="troisd-container">
  <div class="slideshow-container4">
    <div class="mySlides4 fade4">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207219/LPA/1_Rolly_mq8jxt_upsnng.jpg">
    </div>
    <video id="video" class="mySlides4 fade4" loop muted autoplay playsinline>
      <source src="https://res.cloudinary.com/dunk/video/upload/v1620805001/Polo/Animation_Rolly_xwcbqi.mp4" type="video/mp4">
    </video>
    <div class="mySlides4 fade4">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207225/LPA/3_Rolly_yv6kdd_zg6i5m.jpg">
    </div>
    <div class="mySlides4 fade4">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207227/LPA/5_Rolly_ectzdm_fu1mei.jpg">
    </div>
    <div class="mySlides4 fade4">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207226/LPA/4_Rolly_wyi1rh_juwlvf.jpg">
    </div>
    <a class="prev prev5" onclick="plusSlides4(-1)">&#10094;</a>
    <a class="next next5" onclick="plusSlides4(1)">&#10095;</a>
    <div class="project-info">
      <p class="title-project">Rolly</p>
      <p class="project-type"> <p class="hide">-</p>Modèle et impression 3D / Photographies Ted Kayumba-Kasongo</p>
    </div>
    <div class="arrow bounce">
      <i class="fas fa-arrow-down arrow"></i>
    </div>
  </div>
  <div class="slideshow-container5" >
    <div class="mySlides5 fade5">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207221/LPA/1Metz_tlyrhc_hbinmk.jpg">
    </div>
    <div class="mySlides5 fade5">
      <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620207224/LPA/Sche%CC%81ma_5_wrslru_p3lfpy.jpg">
    </div>
    <video id="video" class="mySlides5 fade5" loop muted autoplay playsinline>
      <source src="https://res.cloudinary.com/dunk/video/upload/v1620805015/Polo/Metz_lfufgm.mp4" type="video/mp4">
    </video>
    <a class="prev prev3" onclick="plusSlides5(-1)">&#10094;</a>
    <a class="next next3" onclick="plusSlides5(1)">&#10095;</a>
    <div class="project-info">
      <p class="title-project">Projet de fin d'études,</p>
      <p class="project-type"> caserne Desvallières de Metz</p>
    </div>
  </div>
</div>
<p class="cpt">Copyright © LPA</p>

<script>
//4RD SLIDESHOW

var slideIndex4 = 1;
var timer4 = null;
showSlides4(slideIndex4);

function plusSlides4(n) {
  clearTimeout(timer4);
  showSlides4(slideIndex4 += n);
}

function currentSlide4(n) {
  clearTimeout(timer4);
  showSlides(slideIndex4 = n);
}

function showSlides4(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides4");

  if (n==undefined){n = ++slideIndex4}
  if (n > slides.length) {slideIndex4 = 1}
  if (n < 1) {slideIndex4 = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex4-1].style.display = "block";
  timer4 = setTimeout(showSlides4, 6000000);
}



//5RD SLIDESHOW

var slideIndex5 = 1;
var timer5 = null;
showSlides5(slideIndex5);

function plusSlides5(n) {
  clearTimeout(timer5);
  showSlides5(slideIndex5 += n);
}

function currentSlide5(n) {
  clearTimeout(timer5);
  showSlides(slideIndex5 = n);
}

function showSlides5(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides5");

  if (n==undefined){n = ++slideIndex5}
  if (n > slides.length) {slideIndex5 = 1}
  if (n < 1) {slideIndex5 = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex5-1].style.display = "block";
  timer5 = setTimeout(showSlides5, 6000000);
}
</script>
