.logo img{
  width: 120px;
  height: 120px;
  position: fixed;
  top: 18px;
  left: 70px;
}

.logo2 img {
  width: 120px;
  height: 120px;
  position: relative;
  left: 70px;
  top: 18px;
  z-index: 100;
}

.cpt {
  opacity: 0.4;
  text-align: center;
  font-family: Roboto;
  font-weight: light;
  font-size: 12px;
  // position: absolute;
  // left: 45%;
  // bottom: 1%;
}

@media only screen and (max-width: 1000px) {
  .logo img{
    left: 20px;
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .logo img{
    position: absolute;
  }
}

@media only screen and (max-width: 600px) {
  .logo img{
    width: 100px;
    height: 100px;
    left: 20px;
    position: absolute;
  }

  .logo2 img{
    left: 20px;
    width: 100px;
    height: 100px;
  }
}
